# Respondendo as questões do CEO

Nosso CEO deseja saber algumas informações sobre o faturamento de vinhos. A equipe de vendas nos forneceu um dataset com alguns dados e precisamos extrair algumas informações para respondermos as questões

## Carregando o dataset

In [ ]:
import pandas as pd

In [ ]:
#puxando a base de dados
dataset = 'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wines.csv'
df = pd.read_csv(dataset, parse_dates=['date'])
df

           date   label  vintage   style   country   price  quantity  rate
0    2021-01-04  Wine K     2002   White  Portugal  144.22         9    97
1    2021-03-11  Wine J     1982     Red  Portugal  244.80         3    76
2    2021-10-02  Wine Y     2018  Orange    France   98.83         2    79
3    2021-06-05  Wine I     1989     Red     Spain   59.64        11    77
4    2021-09-06  Wine N     2006   White     Spain  187.70         6    91
...         ...     ...      ...     ...       ...     ...       ...   ...
9995 2021-08-07  Wine S     1983    Rose    France  264.69         6    89
9996 2021-03-03  Wine S     1994    Rose     Spain   55.84         4   100
9997 2021-12-28  Wine N     2001   White  Portugal  137.79        13    96
9998 2021-06-19  Wine T     1988    Rose     Italy  100.29         9    83
9999 2021-09-18  Wine V     1982   Sweet  Portugal   63.85        13   100

[10000 rows x 8 columns]

In [ ]:
df.dtypes

date        datetime64[ns]
label               object
vintage              int64
style               object
country             object
price              float64
quantity             int64
rate                 int64
dtype: object

In [ ]:
df['date'] = df['date'].map(lambda dt: dt.strftime('%d/%m/%Y'))

In [ ]:
df.sample(5)

            date   label  vintage      style  country   price  quantity  rate
540   07/02/2021  Wine J     2021        Red  Uruguay   99.62         3    80
6289  19/06/2021  Wine R     2016  Sparkling      USA  244.05         3    91
3151  27/09/2021  Wine O     1987      White    Italy  150.58         2    92
5389  09/09/2021  Wine S     2000       Rose  Germany  134.87         6    94
3378  08/02/2021  Wine K     1986      White    Chile   50.73        14    97

## Perguntas do CEO

### 1. Quanto custa o vinho mais caro?

In [ ]:
df['price'].max()

1107.89

### 2. Quanto custa o vinho mais barato?

In [ ]:
df['price'].min()

50.01

### 3. Qual o vinho mais caro?

In [ ]:
df.loc[:'price'].max()

date        31/12/2021
label           Wine Z
vintage           2021
style            White
country        Uruguay
price          1107.89
quantity            15
rate               100
dtype: object

### 4. Qual o vinho mais barato?

In [ ]:
df.loc[:'price'].min()

date        01/01/2021
label           Wine A
vintage           1982
style           Orange
country      Argentina
price            50.01
quantity             1
rate                75
dtype: object

### 5. Quanto foi vendido em 2021?

In [ ]:
df['sub-total'] = df['price']*df['quantity']
faturamento = f'R${df["sub-total"].sum():,.2f}'
faturamento

'R$16,991,676.32'

### 6. Quantas garrafas no total?

In [ ]:
df['quantity'].sum()

80155

### 7. Qual vinho teve a maior nota?

In [ ]:
maior_n = df['rate'] == 100
df.loc[maior_n]

,date,label,vintage,style,country,price,quantity,rate,sub-total
23,06/05/2021,Wine L,2006,White,Portugal,451.14,12,100,5413.68
39,19/05/2021,Wine X,2000,Sweet,Italy,86.54,2,100,173.08
76,09/06/2021,Wine G,2000,Red,Chile,146.67,9,100,1320.03
91,13/06/2021,Wine Y,1994,Orange,Argentina,479.30,10,100,4793.00
218,11/05/2021,Wine Y,2005,Orange,Italy,196.25,5,100,981.25
...,...,...,...,...,...,...,...,...,...
9968,15/01/2021,Wine X,2007,Sweet,USA,67.97,7,100,475.79
9971,07/06/2021,Wine P,2005,Sparkling,Germany,147.44,15,100,2211.60
9979,29/11/2021,Wine Z,1993,Orange,Spain,96.17,13,100,1250.21
9996,03/03/2021,Wine S,1994,Rose,Spain,55.84,4,100,223.36
9999,18/09/2021,Wine V,1982,Sweet,Portugal,63.85,13,100,830.05

### 8. Qual vinho teve a menor nota?

#### Gabarito

In [ ]:
menor_n = df['rate'] == 75
df.loc[menor_n]

,date,label,vintage,style,country,price,quantity,rate,sub-total
13,22/04/2021,Wine N,2019,White,Uruguay,229.17,8,75,1833.36
20,04/03/2021,Wine T,1984,Rose,Italy,188.16,3,75,564.48
52,28/11/2021,Wine W,2021,Sweet,Portugal,377.73,13,75,4910.49
61,05/12/2021,Wine V,2020,Sweet,USA,274.18,5,75,1370.90
95,11/07/2021,Wine C,1988,Red,France,409.73,7,75,2868.11
...,...,...,...,...,...,...,...,...,...
9953,21/06/2021,Wine Z,1995,Orange,Chile,413.03,8,75,3304.24
9961,21/04/2021,Wine N,1997,White,Portugal,167.44,2,75,334.88
9967,25/07/2021,Wine X,2019,Sweet,Argentina,262.55,1,75,262.55
9976,13/02/2021,Wine I,1996,Red,Portugal,179.73,12,75,2156.76
9990,16/11/2021,Wine B,1993,Red,Argentina,133.29,8,75,1066.32

### 9. Qual a safra mais antiga?

In [ ]:
df['vintage'].min()

1982

### 10. Qual a safra mais recente?

In [ ]:
df['vintage'].max()

2021

### 11. Qual país teve mais garrafas vendidas?

> Bloco com recuo

In [ ]:
df.groupby('country')['quantity'].sum().sort_values(ascending=False).reset_index()[:1]

  country  quantity
0   Italy      8335

### 12. Qual país teve menos menos garrafa vendida?

In [ ]:
df.groupby('country')['quantity'].sum().sort_values(ascending=True).reset_index()[:1]

  country  quantity
0     USA      7402

### 13. Quantos vinhos abaixo de R$100,00 foram vendidos?

In [ ]:
df[df['price']<100]['quantity'].sum()

18195

### 14. Quantos vinhos acima de R$100,00 foram vendidos?

In [ ]:
df[df['price']>100]['quantity'].sum()

61949

### 15. Quantos vinhos brancos e rosés 

1.   Item - brancos
2.   Item - rosés

foram vendidos nos meses de Janeiro à Março?

In [ ]:
df.loc[((df['style']=='White')|(df['style']=='Rose')) & (df['date'].dt.month.isin([1,2,3]))]['quantity'].sum()

6743

### 16. Qual foi o faturamento do 1º trimestre de 2021?

In [ ]:
df['sub-total'] = df['price']*df['quantity']
fat = df.loc[df["date"].dt.month<4]['sub-total'].sum()
fat

4193529.08